[Desktop Entry]
Version=1.0
Type=Application
Name=Rate Me
Comment=Aplicación de calificación musical
Exec=/usr/bin/rateme
Icon=rateme
Terminal=false
Categories=Audio;Music;Utility;
StartupWMClass=RateMe