[Desktop Entry]
Name=Rate Me!
Comment=A Music Rating App
Exec=rateme
Icon=rateme
Terminal=false
Type=Application
Categories=AudioVideo;Player
StartupWMClass=RateMe